.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    //in the .header we have height 95vh and de poligon with 75vh so 95 - 75 = 20vh !
    //i use 25 dont know why the 20 dont work
    margin-top: -25vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    
/*
        in this case we only want to select the direct children(the row of section-features)
    */
    & > * {
        transform: skewY(7deg);
    }

}


.section-tours{
    background-color: $color-grey-light-1;
    padding: 25rem 0 50rem 0;
    margin-top: -20vh;
    
}

.section-story{
    padding: 15rem 0;
    background-color: $color-grey-light-1;
}